/* Asterisk wildcard selsector used to remove default styles */
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

/* General styles applied from portfolio project 1 */
body {
 min-height: 100vh;
 display: flex;
 flex-direction: column;
}

/* General styles */

h3 {
 text-align: center;
}

img{
 width: 100%;
}

p{
 text-align: center;
}

/* Header style */
header {
 display: flex;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}

/* Main content */
main {
 /* Pushing footer down by making the main content to take up the surplus.
 This code part is taken from my Project portfolio 1 */
 flex: 1 0 auto;
}

/* Main content */

/* Styles shared between pages */

#image-container, #paragraph-container{
 width: 90%;
}

#categories-container,
#answer-container {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 100px 0;
}

#categories,
#answer-choice {
 display: flex;
 flex-flow: column wrap;
 justify-content: center;
 align-items: center;
}

/* Main menu(button) style */

.btn {
 /* display: block; */
 margin: 20px auto;
}

/* Artist question page */

#question-prompt {
 text-align: center;
 display: flex;
 width: 90%;
 flex-direction: column;
 margin: 10px auto;
}

#answer-container {
 padding: 20px 0;
 flex-wrap: wrap;
}

/* 404 error page */
/* The code was based on my project one and adjusted to fit the purpose */
#error-message-container {
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 100px 0;
}

#error-message {
 width: 90%;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 100px 0;
}

#message-content {
 font-size: 110%;
}

#message-content>h2 {
 margin: 0;
 text-align: center;
}

#message-content>p {
 text-align: center;
 padding: 10px;
}

#message-content a {
 text-decoration: none;
 /* color: #D36D0D; */
 font-weight: bold;
}

/* Footer */
footer {
 text-align: center;
 display: flex;
 flex-direction: column;
}