/* Asterisk wildcard selector used to remove default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles applied from portfolio project 1 */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-color: #F3F7F5;
    color: #100007;
}

/* General styles */
h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
}

h2,
h3,
p {
    text-align: center;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    object-fit: contain;
}

button {
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    /* The below box shadow code was taken from https://getcssscan.com/css-buttons-examples*/
    box-shadow: rgba(16, 0, 7, .2) 0 3px 5px -1px, rgba(16, 0, 7, .14) 0 6px 10px 0, rgba(16, 0, 7, .12) 0 1px 18px 0;
}

/* Header style */
header {
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #F3F7F5;
    font-size: 115%;
    padding-bottom: 0.25rem;
    box-shadow: none;
}

#logo {
    text-align: center;
    color: #540B0E;
}

#logo-letter {
    text-align: left;
    padding-left: 3%;
    color: #540B0E;
}

/* Main content */
main {
    /* Pushing footer down by making the main content to take up the surplus.
 The below flex property is taken from my Project Portfolio 1, which was used from Love Running walkthrough */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 38.5px;
}

/* Shared styles */
.btn {
    width: 208px;
    height: 58px;
    font-size: 0.85rem;
    letter-spacing: 1px;
    border-radius: 0.8rem;
    border: none;
    margin: 0 auto 20px;
    padding: 0.2rem 0.5rem;
    background-color: #E09F3E;
    color: #100007;
}

/* Landing page */
#categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
    background: #E09F3E;
    border-radius: 2rem;
    box-shadow: 0 0 20px #540B0E;
}

#categories {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    margin: auto;
}

.landing-btn,
.error-button {
    width: 150px;
    padding: 10px;
    margin: auto;
    border-radius: 0.9rem;
    background-color: #F3F7F5;
    font-size: 1rem;
}

/* Quiz Area */
#quiz-area-container {
    width: 255px;
    height: 990px;
    max-width: 600px;
    border-radius: 10px;
    padding: 0.75rem;
}

#quiz-area-container>p {
    width: 90%;
    margin: auto;
    padding-top: 1rem;
}

.rules-description {
    padding: 0.5rem 0 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#category-heading {
    padding-bottom: 0.7rem;
    margin-top: 0.25rem;
}

/* Category title & static rules styles */
#question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#question-container>p {
    font-weight: 700;
    padding-bottom: 0.4rem;
}

/* Question image area styles */
#image-container {
    display: flex;
    justify-content: center;
    width: 235px;
    height: 300px;
    max-width: 400px;
    max-height: 300px;
    background-color: #002a32;
    border: 0.75rem ridge #7B5214;
    margin-bottom: 0.75rem;
}

#painting-name {
    font-size: 1.08rem;
    height: 52px;
    letter-spacing: 0.5px;
    font-weight: 700;
    text-align: center;
    padding-top: 0.1rem;
}

/* Answer buttons */
#answer-choices {
    margin: 1rem auto 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

/* Next button */
#next-btn {
    width: 130px;
    justify-content: center;
    align-items: center;
    padding: 14px;
    margin: 0.1rem auto 1rem;
    border-radius: 0.8rem;
    border: 0;
    background-color: #540B0E;
    color: #F3F7F5;
}

/* Score section */
#score-result-container {
    text-align: center;
    max-width: 90%;
    gap: 1rem;
    flex-direction: column;
    margin: auto;
    padding: 2.5rem;
    background-color: #E09F3E;
    border-radius: 2rem;
    box-shadow: 0 0 20px #540B0E;
}

#score-content>h2 {
    padding: 1rem 1rem 0;
}

#score-content>p {
    padding: 1rem 3rem;
    font-weight: bold;
}

/* Play again button */
#play-again-btn {
    width: 150px;
    align-self: center;
    margin: 20px;
    background-color: #F3F7F5;
    font-size: 1rem;
}

/* Classes applied to sections and buttons with JS*/
.hide {
    display: none;
}

.pointer-block {
    pointer-events: none;
}

.correct {
    box-shadow: 0 0 15px 5px #002A32;
    border: 1px solid #002A32;
}

.incorrect {
    box-shadow: 0 0 15px 5px #9E2A2B;
    border: 1px solid #9E2A2B;
}

/* 404 error page */
/* The code was based on my PP1 and adjusted to fit the purpose */
#error-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#error-message {
    width: 90%;
    margin: auto;
}

#message-content {
    font-size: 110%;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px #540B0E;
    padding: 2rem 1.2rem;
    background-color: #E09F3E;
}

#message-content>h2 {
    margin: 0;
    text-align: center;
}

#message-content>img {
    width: 60%;
    display: flex;
    /* Below code line taken from https://developer.mozilla.org/en-US/docs/Web/CSS/basic-shape/circle */
    clip-path: circle(50px);
    margin: 1rem auto;
}

#message-content>p {
    padding: 1rem 1rem 0.5rem;
}

.error-button {
    width: 175px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.25rem;
    color: #100007;
    box-shadow: rgba(16, 0, 7, .2) 0 3px 5px -1px, rgba(16, 0, 7, .14) 0 6px 10px 0, rgba(16, 0, 7, .12) 0 1px 18px 0;
}

/* Footer */
footer {
    height: 55px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #E09F3E;
}

footer p {
    text-align: left;
}

#footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    gap: 1rem;
}

#footer-info {
    display: flex;
    flex-wrap: wrap;
}

#footer-info span {
    display: none;
}

#social-media {
    display: flex;
    gap: 1.4rem;
    padding-left: 0.5rem;
}

#social-media i {
    font-size: 1.75rem;
    color: #F3F7F5;
}

/* Media Queries */

/* Media query for mobiles from 375px and up*/
@media screen and (min-width: 375px) {

    /* Header */
    #logo {
        display: flex;
        justify-content: center;
    }

    #logo-letter {
        display: none;
    }

    /* Quiz Area*/
    #quiz-area-container {
        width: 330px;
    }

    #image-container {
        width: 275px;
    }

    #painting-name {
        width: 288px;
        padding: 0.1rem 0.7rem 0.6rem;
    }
}

/* Media query for mobiles from 425px and up*/
@media screen and (min-width: 425px) {

    /* Quiz Area */
    #quiz-area-container {
        width: 90%;
    }

    .rules-description {
        width: 360px;
        margin: auto;
    }

    #image-container {
        width: 340px;
    }

    #painting-name {
        width: 310px;
        padding: 0.1rem 0 0.6rem;
    }
}

/* Media query for mobiles from 462px and up*/
@media screen and (min-width: 462px) {

    /* Footer */
    #footer-info span {
        display: inline;
    }
}

/* Media query for tablet devices from 520px and up*/
@media screen and (min-width: 520px) {

    /* Quiz Area */
    .rules-description {
        width: 400px;
    }

    #image-container {
        width: 400px;
    }

    #painting-name {
        width: 380px;
    }
}

/* Media query for large devices (laptops and desktops,675px and up) */
@media screen and (min-width: 675px) {

    /* Header */
    header {
        position: relative;
        /* used !important to override style set in JS */
        box-shadow: none !important;
    }

    /* Main */
    main {
        margin: 0;
    }

    /* Quiz Area */
    #quiz-area-container {
        padding: 0 0.75rem 2rem;
        height: 760px;
    }

    .rules-description p {
        width: 500px;
    }

    #answer-choices {
        flex-direction: row;
        gap: 20px;
        align-content: center;
        flex-wrap: wrap;
    }

    /* Had to place the .btn as otherwise the code was breaking the styling */
    #answer-choices>.btn {
        margin: 0;
        width: 260px;
        font-size: 0.9rem;
    }

    #next-btn {
        margin: 1.75rem auto;
    }

    #score-result-container {
        max-width: 600px;
    }
}

/* Media query for large devices (laptops and desktops,768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    #logo {
        font-size: 220%;
    }

    /* Landing page */
    #categories-container {
        height: 13rem;
        padding: 2rem 3.35rem;
    }

    #categories {
        flex-direction: row;
        gap: 3rem;
    }

    .landing-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4rem;
        width: 11rem;
        padding: 0 2rem;
        margin: 0;
        border-radius: 1rem;
    }

    /* Quiz Area */
    #image-container {
        max-width: 400px;
        height: 300px;
    }

    /* Score area */
    #result-description {
        font-size: 1.1rem;
    }
}

/* Media query for large devices (laptops and desktops,992px and up) */
@media screen and (min-width: 992px) {

    /* Button hover over effect */
    .btn:hover,
    .error-button:hover,
    #play-again-btn:hover {
        background-color: #540B0E;
        color: #F3F7F5;
    }

    /* Quiz Area */
    #quiz-area-container {
        max-width: 800px;
    }

    #answer-choices {
        gap: 20px;
        align-content: center;
        flex-wrap: wrap;
        margin: 1rem 3rem;
    }

    #next-btn {
        margin: 0.78rem auto;
    }
}